$text-primary: #080a0f;
$text-secondary: #72747e;
$basic-secondary: #d6d5dc;
$text-on-primary: #ffffff;
$basic-primary: #ff2b51;
$basic-primary-variant-judge: #ff842b;
$bg-secondary-ios: #eef1f4;
$black: #000000;
$text-primary-light: #38354d;
$text-secondary-light: #b2b2b8;
$bg-table-header: #eae9ef;
$bg-table-row: #fafafa;
$success: #27c200;
$warning: #ffb800;
$alert: #ea1a40;
$bg-secondary: #efeff1;
$tertiary-dark: #6c6a7d;
$divider-medium: #d6d5dc;
