$text-primary: #080a0f;
$text-secondary: #72747e;
$basic-secondary: #d6d5dc;
$text-on-primary: #ffffff;
$success: #27c200;
$basic-primary: #ff2b51;
$basic-primary-variant-judge: #ff842b;
$bg-secondary-ios: #eef1f4;
$black: #000000;
$text-primary-light: #38354d;
$text-secondary-light: #b2b2b8;
