@import '@app/styles/colors';

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin text-lg() {
  font-size: 18px;
  font-weight: normal;
  color: $text-secondary;
}

@mixin text-sm() {
  font-size: 14px;
  font-weight: 400;
  color: $text-primary;
}
