@import '@app/styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  background: white;
}

.leftSide {
  @include flex-align-center;
}

.rightSide {
  @include flex-align-center;
  gap: 8px;
  padding-top: 9px;
  padding-bottom: 7px;
}

.logo {
  margin-right: 43px;
}

.largeText {
  @include text-lg;
}

.dot {
  font-weight: normal;
}

.smallText {
  @include text-sm;
}
