@import '@app/styles/colors';

.table {
  border-spacing: 0;
}

.head {
  background-color: $bg-table-header;
}

.headerCell {
  &:first-child {
    border-radius: 8px 0 0 0;
  }
  &:last-child {
    border-radius: 0 8px 0 0;
  }
}

.row {
  &:nth-of-type(4n + 3) {
    background-color: $bg-table-row;
  }
}

.cell {
  padding: 14px;
  text-align: start;
  font-size: 14px;
  color: $text-primary-light;
}
