@import '@app/styles/colors';

.base {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.primary {
  background-color: $basic-primary;
  color: $text-on-primary;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.secondary {
  background-color: $bg-secondary-ios;
  color: $black;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  cursor: auto;
}

.highlight {
  background-color: $basic-primary-variant-judge;
  color: $text-on-primary;
  padding: 1px 14px;
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

.underlined {
  padding: 0;
  color: $text-primary-light;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}
